*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/WSDL2DCATconverter/build/
/WSDL2DCATconverter/dist/
/XSLX2XMLconverter/nbproject/private/
/XSLX2XMLconverter/build/
/XSLX2XMLconverter/dist/
/WSDL2DCAT/target/

.idea